<style>
	@media print {
		.info-row {
			border-top: none !important; /* Remove top border */
    border-bottom: none !important; /* Remove bottom border */
    border-left: 0.75pt solid black; /* Retain left border */
    border-right: 0.75pt solid black; /* Retain right border */
    height: 10pt; /* Set the height of the row */
    font-size: 12pt; /* Set the font size */
	padding: 1px;
		}

		table {
    border: 0.75pt solid black;
    border-collapse: collapse;
    width: 100%;
}

		.page-content {
			transform: scale(0.8);
			transform-origin: top;
		}

		body {
			position: relative;
			margin: 0;
			padding-bottom: 0pt;
		}

		

	}
</style>

<body>
	<div class="page-content">
		<header>
			<div style="clear:both">

				<p
					style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-top:0.75pt dotted #750a3c; border-bottom:0.75pt dotted #750a3c; padding-top:1pt; padding-bottom:6pt; font-size:36pt">
					<strong><em><span style="font-family:Cambria; letter-spacing:0.5pt; color:#750a3c">ZING
								ENTERPRISES</span></em></strong>
				</p>
				<h1
					style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:36pt; text-align:center; line-height:105%; border-bottom:3pt solid #af0f5a; padding-bottom:1pt; font-size:14pt">
					<span
						style="font-family:Cambria; text-transform:uppercase; letter-spacing:1pt; color:#60b4ff">AUDITOR</span><span
						style="font-family:Cambria; letter-spacing:1pt; color:#60b4ff">, C</span><span
						style="font-family:Cambria; font-variant:small-caps; letter-spacing:1pt; color:#60b4ff">ONSULTANT
					</span><span
						style="font-family:Cambria; text-transform:uppercase; letter-spacing:1pt; color:#60b4ff">&amp;
						TRAINER</span>
				</h1>
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:14pt">
					<strong><span
							style="font-family:Cambria; letter-spacing:1pt; color:#00b050">E</span></strong><strong><span
							style="font-family:Cambria; font-variant:small-caps; letter-spacing:1pt; color:#00b050">nergy,
						</span></strong><strong><span
							style="font-family:Cambria; font-variant:small-caps; text-transform:uppercase; letter-spacing:1pt; color:#00b050">S</span></strong><strong><span
							style="font-family:Cambria; font-variant:small-caps; letter-spacing:1pt; color:#00b050">afety
							&amp;
							Sustainability</span></strong>
				</p>
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; font-size:10pt">
					<strong><em><span style="font-family:'Arial Narrow'; ">Main Office</span></em></strong><span
						style="font-family:'Arial Narrow'">: S-151 (Ist Floor), Sun Square Plaza, RIICO Chowk,
						Bhiwadi-301019</span><span style="font-family:'Arial Narrow'">&#xa0;&#xa0; </span>
				</p>
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; font-size:10pt">
					<strong><em><span style="font-family:'Arial Narrow'; ">Branch Office</span></em></strong><span
						style="font-family:'Arial Narrow'">: 5, Millennium Business Centre, Corner Market, Malviya
						Nagar,
						New
						Delhi-110017</span>
				</p>
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal">
					<span style="font-family:'Arial Narrow'; font-size:10pt">Mobile: 0-9783694136</span><span
						style="font-family:'Arial Narrow'; font-size:10pt">&#xa0; </span><span
						style="font-family:'Arial Narrow'; font-size:10pt">, Website: </span><a
						href="http://www.zingenterprises.co.in" style="text-decoration:none"><u><span
								style="font-family:'Arial Narrow'; font-size:10pt; color:#0000ff">www.zingenterprises.co.in</span></u></a><span
						style="font-family:'Arial Narrow'; font-size:10pt"> </span>
				</p>
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center">
					<span style="line-height:115%; font-family:'Arial Narrow'; font-size:10pt">E-mail: </span><a
						href="mailto:praveensingh@zingenterprises.co.in" style="text-decoration:none"><u><span
								style="line-height:115%; font-family:'Arial Narrow'; font-size:10pt; color:#0000ff">praveensingh@zingenterprises.co.in</span></u></a><span
						style="line-height:115%; font-family:'Arial Narrow'; font-size:10pt"> ,</span><span
						style="line-height:115%; font-family:'Arial Narrow'; font-size:10pt">&#xa0; </span><a
						href="mailto:zingenterprises.ees@gmail.com" style="text-decoration:none"><u><span
								style="color:#0000ff">zingenterprises.ees@gmail.com</span></u></a>
				</p>
				<p style="margin-top:0pt; margin-bottom:0pt; line-height:normal">
					&#xa0;
				</p>
			</div>
		</header>

		<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:18pt">
			<strong><u><span style="font-family:Cambria; font-variant:small-caps; letter-spacing:1pt">TAX
						INVOICE</span></u></strong>
		</p>
		<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:18pt">
			<strong><span
					style="font-family:Cambria; font-variant:small-caps; letter-spacing:1pt">&#xa0;</span></strong>
		</p>
		<div style="text-align:center">
			<table cellspacing="0" cellpadding="0" style="margin-right:auto; margin-left:auto;">
				<tr>
					<td colspan="3"
						style="width:273.3pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<em><u><span style="font-family:Arial; ">Debit To :</span></u></em>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt; background-color:#ffffff">
							<strong><span style="color:#222222">M/S&#xa0;&#xa0;</span></strong><span
								style="color:#222222">{{debitToDetails}}</span>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							&#xa0;
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							GST NO- {{companyGSTNumber}}
						</p>
					</td>
					<td colspan="3"
						style="width:200.3pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="font-family:Arial; background-color:#ffffff">&#xa0;</span><span
								style="font-family:Arial; background-color:#ffffff">No: {{invoiceNumber}}</span>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="font-family:Arial; background-color:#ffffff">Date : {{currentDate}}</span>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="font-family:Arial; background-color:#ffffff">PO No: {{PONumber}}</span>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="font-family:Arial; background-color:#ffffff">PO Date :
								{{PODate}}</span><span
								style="font-family:Arial; background-color:#ffffff">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
							</span><span style="font-family:Arial; background-color:#ffffff"></span>
						</p>
					</td>
				</tr>
				<tr>
					<td
						style="width:24.8pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
							<span style="background-color:#ffffff">S No</span>
						</p>
					</td>
					<td
						style="width:171.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
							<span style="background-color:#ffffff">Description</span>
						</p>
					</td>
					<td
						style="width:55.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="background-color:#ffffff">HSN/SAC </span>
						</p>
					</td>
					<td
						style="width:29.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
							<span style="background-color:#ffffff">QTY.</span>
						</p>
					</td>
					<td
						style="width:58.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt">
							<span style="background-color:#ffffff">Rate (INR)</span>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<span style="background-color:#ffffff">AMOUNT (INR)</span>
						</p>
					</td>
				</tr>
				{{#each items}}
				<tr>
					<td class="info-row"></td>
					<td class="info-row"><strong>{{name}}</strong></td>
					<td class="info-row"></td>
					<td class="info-row"></td>
					<td class="info-row"></td>
					<td class="info-row"></td>
				</tr>
				{{#each list}}
				<tr>
					{{#if description}}
					<td class="info-row">{{inc @index}}.</td>
					{{else}}
					<td></td>
					{{/if}}
					<td class="info-row">{{description}}</td>
					{{#if description}}
					<td class="info-row">998399</td>
					{{else}}
					<td></td>
					{{/if}}
					<td class="info-row">{{quantity}}</td>
					<td class="info-row">{{rate}}</td>
					<td class="info-row">{{amount}}</td>
				</tr>
				{{/each}}
				{{/each}}

				<tr style="height:21.75pt">
					<td colspan="2" rowspan="5"
						style="width:206.75pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt">
							<span style="font-family:Arial; background-color:#ffffff">Bank Details</span>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><em>PAN NO : BLHPS9203A</em></strong>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><em>GST No:08BLHPS9203A1Z7</em></strong>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<em>BANK A/C: BANK OF INDIA</em>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<em>&#xa0;</em><em>A/C NO: - 674920110000016</em>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<em>IFSC CODE: BKID0006749</em>
						</p>
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<em>BRANCH: DHARUHERA (HAR)</em>
						</p>
					</td>
					<td rowspan="5"
						style="width:55.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; ">&#xa0;</span></strong>
						</p>
					</td>
					<td colspan="2"
						style="width:98.85pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">Total</span></strong>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">{{total}}
								</span></strong>
						</p>
					</td>
				</tr>
				<tr style="height:18pt">
					<td colspan="2"
						style="width:98.85pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">CGST-
									{{cgstPerc}}</span></strong><strong><span
									style="font-family:Arial; background-color:#ffffff">&#xa0;
								</span></strong><strong><span
									style="font-family:Arial; background-color:#ffffff"></span></strong>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">{{cgst}}
								</span></strong>
						</p>
					</td>
				</tr>
				<tr style="height:18pt">
					<td colspan="2"
						style="width:98.85pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">SGST -
									{{sgstPerc}}</span></strong>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">{{sgst}}</span></strong>
						</p>
					</td>
				</tr>
				<tr style="height:18.75pt">
					<td colspan="2"
						style="width:98.85pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">IGST
									-{{igstPerc}}</span></strong><strong>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">{{igst}}
								</span></strong>
						</p>
					</td>
				</tr>
				<tr style="height:29.45pt">
					<td colspan="2"
						style="width:98.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">Grand
									Total</span></strong>
						</p>
					</td>
					<td
						style="width:90.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
						<p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt">
							<strong><span style="font-family:Arial; background-color:#ffffff">{{grandTotal}}
								</span></strong>
						</p>
					</td>
				</tr>
			</table>
		</div>

		<p style="margin-top:5pt;line-height:normal">
			<strong><span style="font-family:Arial; background-color:#ffffff">AMOUNT (</span></strong><span
				style="font-family:Arial; background-color:#ffffff">in words)-
				{{grandTotalInWords}}</span><strong><span
					style="font-family:Arial; background-color:#ffffff">Only.</span></strong>
		</p>
	
		<p style="text-align:right">
			<span style="font-family:Arial; color:#222222; background-color:#ffffff">For</span><span
				style="font-family:Arial; color:#222222; background-color:#ffffff">&#xa0; </span><strong><span
					style="font-family:Arial; color:#222222; background-color:#ffffff">ZING
					ENTERPRISES</span></strong>
		</p>
		<p style="padding-top:30px; text-align:right; line-height:normal">
			<span style="font-family:Arial; color:#222222; background-color:#ffffff">(Authorized Signatory)</span>
		</p>
	</div>
</body>